@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Store</h1>
    <p class="lead"> Welcome to my small grocery store. </p>
    <p>I have made two Tables Departments and Orders. Where department shows grocery products and orders shows what are the orders and what is the person name.</p>
    <p>Department_ID is the PRIMARY KEY in Departments table AND Department_ID is FOREIGN KEY in Orders table.</p> 
</div>
